In [1]:
from collections import defaultdict
from scipy.stats import itemfreq
from scipy import ndimage as ndi
import matplotlib.pyplot as plt
from skimage import feature
from PIL import Image as IMG
import numpy as np
import pandas as pd 
import operator
import cv2
import os 

from IPython.core.display import HTML 
from IPython.display import Image

images_path = "/Users/um003580/projects/kaggle/avito/source/06052"
imgs = os.listdir(images_path)

features = pd.DataFrame()
features['image'] = imgs
features.head()

                                               image
0  845defffcb3876df3c272bbe807e21d6b028a67dafb68a...
1  86c463c915b2a3474e909a619d9b09cfd3c8bb4c379092...
2  053126195bf9301ea10f0eb3b2c8f09c0f17c94aa99aac...
3  dd112eba060070f610d89677a8987ffa3e7f95cb301b04...
4  a49d4f24f0de7e542161a1932e50666fc40bddcdecc855...

In [39]:
pd.set_option("display.max_colwidth", 80)

In [25]:
image_sizes = pd.DataFrame()
for x in range(5):
    if x == 0:
        image_sizes = pd.read_csv('train_jpg_' + str(x) + '_size.csv')
    else:
        image_sizes = pd.concat([image_sizes,pd.read_csv('train_jpg_' + str(x) + '_size.csv')])
image_sizes.head()

                                               image   size
0  845defffcb3876df3c272bbe807e21d6b028a67dafb68a...  31533
1  86c463c915b2a3474e909a619d9b09cfd3c8bb4c379092...  32325
2  053126195bf9301ea10f0eb3b2c8f09c0f17c94aa99aac...  35761
3  dd112eba060070f610d89677a8987ffa3e7f95cb301b04...  78887
4  a49d4f24f0de7e542161a1932e50666fc40bddcdecc855...  36678

In [28]:
image_sizes.nunique()

image    1390836
size       87189
dtype: int64

In [31]:
image_sizes.query("'d10c7e016e03247a3bf2d13348fe959fe6f436c1caf64c7679f17c333c959b19.jpg' == image")

                                                    image   size
227055  d10c7e016e03247a3bf2d13348fe959fe6f436c1caf64c...  27039

In [35]:
def delete_jpg(x):
    return x.rstrip('.jpg')

In [40]:
image_sizes['image'] = image_sizes['image'].apply(lambda x : delete_jpg(x))
image_sizes['image'].head()

0    845defffcb3876df3c272bbe807e21d6b028a67dafb68a4ef3e81b81a89164b9
1    86c463c915b2a3474e909a619d9b09cfd3c8bb4c3790920d7722d8fb79e59495
2    053126195bf9301ea10f0eb3b2c8f09c0f17c94aa99aac6484da49c0dd57eea0
3    dd112eba060070f610d89677a8987ffa3e7f95cb301b04a0817297ef0213c406
4    a49d4f24f0de7e542161a1932e50666fc40bddcdecc855b066a6ee34369e1926
Name: image, dtype: object

In [41]:
image_sizes.to_csv('image_sizes.csv',index=False)